{% load static %}
<div class="bg-info">
    <nav class="container navbar navbar-expand-lg bg-info">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url "video-list" %}">VideoM8</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'video-list' %}">All Movies</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'video-list-categories' category="action" %}">Action</a></li>
                <li><a class="dropdown-item" href="{% url 'video-list-categories' category="horror" %}">Horror</a></li>
                <li><a class="dropdown-item" href="{% url 'video-list-categories' category="si-fi" %}">Si-Fi</a></li>
                <li><a class="dropdown-item" href="{% url 'video-list-categories' category="comedy" %}">Comedy</a></li>
              <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url "categories-list" %}">All categories</a></li>
              </ul>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'actors-list' %}">Actors</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'directors-list' %}">Directors</a>
            </li>
          </ul>
                {% if user.is_authenticated %}
                    <a href="{% url 'users:logout' %}" class="btn btn-outline-warning" role="button">Logout</a>
                {% else %}
                    <a href="{% url 'users:login' %}" class="btn btn-outline-success" role="button">Login</a>
                    <a href="{% url 'users:register' %}" class="btn btn-outline-secondary" role="button">Register</a>
                {% endif %}
        </div>
      </div>
    </nav>
</div>